.bikers-zone-light-red{
  background-color: rgba(255,0,0,0.237);  
}
.bike-img{
    width: 100%;
}
.bike-img1{
width: 70%;
}
.headline{
    color: rgb(209, 27, 27);
}
.footer-link li{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    text-decoration:none;

    
}
.footer-link li a{
    display: flex;
list-style: none;
text-decoration:none ;
margin-left: 10px;
color: aliceblue;
}
footer{
    margin-top: 10px;
    border-radius: 5px solid;
    background-color: rgb(2, 2, 33);
    padding: 20px;
   
}